.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.convex-svg-colour {
  stroke: #6AAAE4;
}

/* Styling Convex SVGs */
[data-theme='dark'] .convex-svg-colour {
  stroke: #6AAAE4;
}